# Supabase Configuration
EXPO_PUBLIC_SUPABASE_URL=https://kybgrsqqvejbvjediowo.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt5Ymdyc3FxdmVqYnZqZWRpb3dvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyOTI2NTYsImV4cCI6MjA3OTg2ODY1Nn0.S84KlGfH1zrJNASh4EJ9KqSt0Q4UCv6nyiSKVzP2sy8

# Optional: Google Sign-In
# EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-google-client-id
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=vpagrbf4
